doctype html
html
  head
    title= "Monitoring"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css")
  body
    block content
