html
  head
    title Luxy Website
    link(rel='stylesheet', href='/stylesheets/store.css')

    a(href='/store' style= "color: #FFFFFF; text-decoration: none; position:absolute; right:5%; top:5%;")
          img(src='images/left-arrow.png' alt='back')

    img(src='../images/luxy.png' alt='luxy' )
    div(style='padding: 15%')
        .wrapper
          button
            a(href="/certificado/ouro" , style="color: #FFFFFF ;text-decoration: none")
              | Ouro 
              span
              span
              span
              span
        .wrapper1
          button
            a(href="/certificado/roupa" , style="color: #FFFFFF ;text-decoration: none")
              | Roupa
              span
              span
              span
              span
