doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Criar Certificado
  link(rel='stylesheet' href='/stylesheets/fonts/material-icon/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='/stylesheets/login.css')
.main
  // Sign up form
  section.signup
    .container
      .signup-content
        .signup-form
          h2.form-title Notificação
          form#register-form.register-form(method='POST' action='/notificacao' )
            //- Título
            .form-group
              label(for='titulo')
                i.zmdi.zmdi-reader
              input#nome(type='text' name='titulo' placeholder='Título')

            //- Descrição
            .form-group
              label(for='descricao')
                i.zmdi.zmdi-comment-alt-text
              input#nome(type='text' name='descricao' placeholder='Descrição')

            //- Link
            .form-group
              label(for='link')
                i.zmdi.zmdi-link
              input#nome(type='text' name='link' placeholder='Link')
              
            .form-group.form-button
              input#signup.form-submit(type='submit' value='Criar')
        .signup-image
          figure
            img(src='/images/notification.png' alt='notification image')
          a.signup-image-link(href='/store') Voltar atrás