html
  head
    title Luxy Website
    link(rel='stylesheet', href='/stylesheets/store.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    
    a(href='/login' style= "color: #FFFFFF; text-decoration: none; position:absolute; right:5%; top:5%;")
       img(src='images/logout.png' alt='logout')

    img(src='../images/luxy.png' alt='luxy' )


    div(style='padding: 15%')
        .wrapper
          button
            a(href="/certificado" , style= "color: #FFFFFF ;text-decoration: none")
              | Criar Certificado 
              span
              span
              span
              span
        .wrapper1
          button
            a(href="/evento" , style="color: #FFFFFF ;text-decoration: none")
              | Criar Evento
              span
              span
              span
              span
        .wrapper2
          button
            a(href="/notificacao" , style="color: #FFFFFF ;text-decoration: none")
              | Criar Notificação 
              span
              span
              span
              span